
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
  }

  .fondoPrincipal {
    background-image: url("../img/fondo_inicio.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
  }